.head{
  padding-left: 180px;
}

.main{
  display: flex;
  justify-content: center;
}
.immg{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 19px;
}
.immg img{
  
  height: 180px;
  width: 350px;
  border-radius: 12px;
  
 
}

.card{
  height: 453px;
  width: 23%;
  object-fit: contain;
  border-radius: 10px;
  font-size: 22px;
  padding: 10px;
  font-family:  'Arial Narrow', Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 15px;
}
div.card > h3:nth-of-type(1){
  color: blue;
}
div.card > p:nth-of-type(2){
  color: rgb(122, 117, 117);
 
}
