body{
  background-color: #090B0E;
}

.main{
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.left>img{
  height: 40px;
  width: auto;
}

.right a{
  
  margin-right: 30px;
  font-size: 25px;
  color: white;
  text-decoration: none;
 
}
.right button{
  margin-right: 30px;
  font-size: 22px;
  background-color: #090B0E;
  color: white;
  border: 1px solid rgb(44, 42, 42);
  padding: 10px;
  border-radius: 10px;
}

.head{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1:nth-of-type(1) {
  color: white;
  font-size: 100px;
  margin: -5px;
  
  
}
header h1:nth-of-type(2) {
  color: #6F05DC;
  font-size: 100px;
  margin: -5px;
 
}
header h1:nth-of-type(3) {
  color: white;
  font-size: 100px;
  margin: -5px;
 
}

header p{
  color: grey;
  font-size: 35px;

}
.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  border: 7px solid #434470;
  border-radius: 30px;
  background-color: #090B0E;
  width: 40%;
  margin-left: 30%;
  margin-top: 75px;
}

.search input{
  padding: 14px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 400px;
  background-color: #090B0E;
  color: #fff; 
  font-size: 30px;
}

.search .generate {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  border-radius: 0 5px 5px 0;
  background-color: #6a0dad;
  color: #fff;
  font-size: 25px;
  border-radius: 15px;


}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  color: rgb(80, 76, 76);
  font-size: 25px;
}
.reviews img{
   height: 40px;
}



