body{
  background-color: black;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:white
  
  
}
.card{
  height: 370px;
  width: 33%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin: 4px;
}
.info{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
 
}
.info h1,button ,p{
  margin-top: -10px;
  padding: -5px;
}
.card img{
  height: 260px;
  margin-bottom: 2px;
}
.info button{
  padding: 6px;
  background-color: aqua;
}